<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <display-name>JSPExceptionHandling</display-name>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>ru.sfedu.ptu_web.controller.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>ru.sfedu.ptu_web.controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>ru.sfedu.ptu_web.controller.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Type</servlet-name>
        <servlet-class>ru.sfedu.ptu_web.admin.controller.Type</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Provider</servlet-name>
        <servlet-class>ru.sfedu.ptu_web.admin.controller.Provider</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Adm_user</servlet-name>
        <servlet-class>ru.sfedu.ptu_web.admin.controller.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Item</servlet-name>
        <servlet-class>ru.sfedu.ptu_web.admin.controller.Item</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemClient</servlet-name>
        <servlet-class>ru.sfedu.ptu_web.controller.Item</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delivery</servlet-name>
        <servlet-class>ru.sfedu.ptu_web.admin.controller.Delivery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Selling</servlet-name>
        <servlet-class>ru.sfedu.ptu_web.admin.controller.Selling</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellingClient</servlet-name>
        <servlet-class>ru.sfedu.ptu_web.controller.Selling</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/error/404.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Type</servlet-name>
        <url-pattern>/admin/type/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Provider</servlet-name>
        <url-pattern>/admin/provider/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Adm_user</servlet-name>
        <url-pattern>/admin/user/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Item</servlet-name>
        <url-pattern>/admin/item/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delivery</servlet-name>
        <url-pattern>/admin/delivery/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Selling</servlet-name>
        <url-pattern>/admin/selling/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellingClient</servlet-name>
        <url-pattern>/buying/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemClient</servlet-name>
        <url-pattern>/item/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
